<div class="container">
    <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" name="password" type="password" #password>
            <mat-error *ngIf="this.form.controls['password'].errors?.['required']">Enter value</mat-error>
            <mat-error *ngIf="this.form.controls['password'].errors?.['minlength']">Minimum 8  character</mat-error>
        </mat-form-field>
    </form>
    <app-strength-bar [passwordValue]="password.value"></app-strength-bar>
</div>